* { box-sizing: border-box; }

body {
  color: white;
  background-color: black;
  font-family: calibri, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  --spacing: 3.33vh;
}

svg { display: block; }
path:not([fill]) { fill: currentColor; }

#top {
  margin: 0 var(--spacing);
  padding: var(--spacing) 0;
}

#clock {
  font-size: 25vh;
  font-weight: bold;
  text-align: center;
  font-variant: lining-nums;
}
#calendar {
  text-align: right;
  font-size: 5vh;
}

#widgets {
  flex: auto;
  display: flex;
}
#widgets > * {
  border-left: 1px solid transparent;
  padding: var(--spacing);
  padding-bottom: 0;
  flex: 1 1 0;
}

#widgets dl, #widgets dd { margin: 0; }
#widgets dl > div {
	display: flex;
	align-items: center;
}

#weather { font-size: 8.33vh; }
#weather > div + div { margin-top: calc(var(--spacing)/2); }
#weather svg {
	--size: 13.33vh;
	width: var(--size);
	height: var(--size);
}
#weather .wind svg {
	--size: 10vh;
	width: var(--size);
	height: var(--size);
	margin: calc(var(--spacing) / 2);
}
#weather .temperature[data-warm="1"] svg { color: red; }
#weather .temperature[data-warm="0"] svg { color: dodgerblue; }
#weather .humidity svg { color: dodgerblue; }

#trash div { font-size: 6.67vh; }
#trash > div + div { margin-top: var(--spacing); }
#trash dt { margin-right: calc(var(--spacing)/2); }
#trash svg {
	--size: 13.33vh;
	width: var(--size);
	height: var(--size);
}
#trash .bio dt { color: saddlebrown; }

#transport header {
	display: flex;
	align-items: center;
}
#transport .headsign {
	text-align: center;
	font-size: 5vh;
	flex: auto;
}
#transport svg {
	--size: 7.5vh;
	width: var(--size);
	height: var(--size);
	flex: none;
}
#transport .line {
	font-size: 6.67vh;
	font-weight: bold;
	padding: 0 calc(var(--spacing)/2);
}
#transport ul {
	font-size: 5vh;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: calc(var(--spacing)/4) 0;
	padding: 0;
}
#transport > div + div { margin-top: calc(var(--spacing)*2); }

body { --border: 1px solid white; }
nav { border-right: var(--border); }
#top { border-bottom: var(--border); }
#widgets > *:not(:first-child) { border-left: var(--border); }


